<div class="row">

    <div class="col-12">

        <button pButton type="button" class="btn btn-primary d-inline-block" routerLink="/show/list" label="Show List"></button>
        <h3 style="display: inline-block" class="ml-2 d-inline-block">Create a New Event</h3>

    </div>

</div>

<div class="row mt-2">

    <div class="col-6">

        <div class="event-entry">
            <label>Event Date</label>
            <p-calendar [(ngModel)]="event.EventTime"></p-calendar>
        </div>

    </div>

    <div class="col-6">

        <div class="event-entry">
            <label>Venue</label>
            <input pInputText type="text" [(ngModel)]="event.Venue">
        </div>

    </div>

</div>
<div class="row mt-2">

    <div class="col-6">

        <div class="event-entry">
            <label>Artist</label>
            <input pInputText type="text" [(ngModel)]="event.Artist">
        </div>

    </div>

    <div class="col-6">

        <div class="event-entry">
            <label>Ticket Link</label>
            <input pInputText type="text" [(ngModel)]="event.TicketUrl">
        </div>

    </div>

</div>

<div class="row mt-3">

    <div class="col-12">

        <button pButton type="button" class="btn btn-primary" (click)="createEvent()" label="Create"></button>

    </div>

</div>
