h3 {
    font-weight: 300;
}

.event-entry {

    label {
        display: block;
        margin: 0 0 5px 0;
        font-weight: 300;
    }

    input {
        display: block;
        width: 100%;
    }
}
