
.actions {
    margin: 10px 0;
}

.event {
    width: 33%;
    height: 300px;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    position: relative;

    .delete {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }

    .event-row {
        display: block;
        margin: 10px 0;
    }

    .time, .ticket {
        color: #fff;
    }

    .ticket {
        position: absolute;
        bottom: 20px;

        a {
            text-decoration: none;
            color: #fff;
        }
    }

    .artist {

        h1 {
            text-transform: uppercase;
            color: #fff;
            font-weight: 900;
            font-size: 40px;
            line-height: 40px;
        }

        p {
            font-size: 20px;
            font-style: italic;
            color: #fff;
        }
    }
}

